@font-face {
    font-family: Roboto;
    src: url("Roboto-Regular.ttf");
}

html {
    background-color: #eeeeee;
}

.report {
    margin: 0;
    padding: 0;
}

.page {
    margin: 0 auto 10px;
    padding: 0;
    break-after: page;
    background-color: white;
    box-shadow: 0 0 10px #bababa;

}

.band {
    margin: 0;
    padding: 0;
    position: relative;
}

.element {
    margin: 0;
    padding: 0;
    position: absolute;
}

.v-align-middle {
    display: table-cell;
    vertical-align: middle;
}

.v-align-bottom {
    display: table-cell;
    vertical-align: bottom;
}

